/*共同頁面*/
[v-cloak] {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

html {
    overflow: -moz-hidden-unscrollable;
}

body {
    overflow-x: hidden;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    background-color: #222;
    color: #ccc;
}

    body::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

.center {
    display: grid;
    place-items: center; /* 同时实现水平和垂直居中 */
}

.sapce {
    padding: 1px 0px;
}

/*這是分頁段*/
.comic-info {
    position: relative;
    display: inline-block;
}

    .comic-info .btn {
        position: absolute;
        top: calc(100% - 25px);
        left: 50%;
        /*        transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);*/
    }

        .comic-info .btn.btnleft {
            left: calc(100% - 60px);
        }

        .comic-info .btn.btnright {
            left: calc(100% - 24px);
        }

        .comic-info .btn.btnleft2 {
            left: 1px;
        }

/*這是分頁段--結束*/

/*這是章節段*/
.chapter {
    min-width =130px;
    height: 90%;
    padding: 5px;
    margin: 5px;
    background-color: #444;
    text-align: center;
}

    .chapter:hover {
        cursor: pointer;
    }
/*這是章節段--結束*/
/*這是頁面段*/
/*.center:before {
    content: "這是筆電333: ";
}*/
.pagely-img-size {
    width: 100vw;
    height: calc(100vh - 45px);
    object-fit: contain;
    object-position: 50% 10%;
}

.continue-img-size {
    width: 100vw;
}

.page-info-title {
    width: 100%;
    border-bottom: 1px solid
}


.page-info {
    position: relative;
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

    .page-info .prev-page {
        position: absolute;
        height: calc(100% - 10px);
        width: 37%;
        top: 5px;
        left: 3px;
        /*background-color:blue;*/
    }

    .page-info .next-page {
        position: absolute;
        height: calc(100% - 10px);
        width: 37%;
        top: 5px;
        left: calc(63% - 3px);
        /*background-color:red;*/
    }


@media screen and (max-width: 1080px) {
    /*    .center:before {
        content: "這是手機: ";
    }*/
    /*    .comicImg {
        width: 99%;
        min-width: inherit;
    }*/

    .pagely-img-size {
        width: 100vw;
    }

    .continue-img-size {
        width: 100vw;
        /*        width: 99%;
        min-width: inherit;*/
    }


    .page-info .prev-page {
        position: absolute;
        height: calc(100% - 10px);
        width: 30%;
        top: 5px;
        left: 3px;
        /*background-color:blue;*/
    }

    .page-info .next-page {
        position: absolute;
        height: calc(100% - 10px);
        width: 55%;
        top: 5px;
        left: calc(45% - 3px);
        /*background-color: red;*/
    }
}
/*這是頁面段-結束*/

.loader-background {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    width: 100vw;
    height: 100vh;
}

.loader {
    position: fixed;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    top: calc(45vh - 60px);
    left: calc(50vw - 60px);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
