@{
    ViewBag.Title = "Comic";
    Layout = "_Layout";
}

<style>
    .chapter {
        min-width =130px;
        height: 40px;
        padding: 5px;
        margin: 5px;
        background-color: #DDD;
        text-align: center;
    }
</style>

<div id="app">
    <h2 class="center">{{state.currComic?.caption}}</h2>
    <button style="font-size: 20px;" @@click="goBack()">上一頁</button>

    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6" v-for="chapter in state.currComic?.chapters">
            <div class="chapter" @@click="goChapter(chapter)">
                <p>
                    <span>{{chapter?.caption}}</span>
                </p>
            </div>
        </div>
    </div>

    <button style="font-size: 20px;" @@click="goBack()">上一頁</button>
</div>


@section Scripts {
    <script type="text/javascript">
        const { createApp, onMounted, onBeforeUnmount, reactive, ref } = Vue;
        const app = createApp({
            components: {
                Observer,
            },
            setup() {
                const state = reactive({
                    page: 1,
                    comic: null,
                    currComic: null,
                });
                const loading = ref(true);

                const pathArray = window.location.pathname.split('/');
                const comic = pathArray[pathArray.length - 1];

                const getRelativePath = function (url) {
                    const pathArray = url.split('/');
                    const result = pathArray[pathArray.length - 1];
                    return result;
                }

                onMounted(async () => {
                    const response = await fetch(`/api/comic/${comic}`);
                    const comicResponse = await response.json();
                    state.page = comicResponse.pageNumber ?? 1;
                    state.comic = comicResponse.comic;
                    state.currComic = comicResponse.currComic;

                    setTimeout(() => loading.value = false, 2000);
                });

                const goChapter = function (chapter) {
                    let url = chapter.url.trim().replace(/\/$/g, '');
                    var relative = getRelativePath(url);
                    location.href = `./${state.comic}/${relative}`;
                }

                const goBack = function () {
                    location.href = `/page/${state.page}`;
                }

                return {
                    state,
                    goBack,
                    goChapter,
                    loading,
                    getRelativePath
                }
            }
        });
        //app.component(Observer);
        app.mount('#app');
        console.log("start app", app);
    </script>
}
