@model ComicApi.Model.ChapterModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.ComicName</h2>
<h2>@Model.CurrChapter.Caption</h2>

<button onclick="history.back()">上一頁</button>
@{
    @foreach (var page in Model.CurrChapter.Pages)
    {
        var url = page.Url;
        <div>
            <img src="@url" style="width:98%;" alt="Snow" />
        </div>
    }
}
<button onclick="history.back()">上一頁</button>
