@{
    var userid = Context.Request.Cookies["userid"];
    var username = userid ?? "Guest";
}

<h2 style="display: inline-block;"> Hi @username Now is @DateTime.Now</h2>
@Html.TextBoxFor(t => userid)
<button onclick="addCookie()">登入</button>
<br />

<script src="~/comic.js"></script>
<script src="~/vue/vue.global.js"></script>
<script src="~/observe.js"></script>

@RenderBody()

@RenderSection("Scripts", false)
